htmlrunner==0.13
Jinja2==2.10.1
linecache2==1.0.0
logz==0.14
MarkupSafe==1.1.1
MouseInfo==0.1.2
Pillow==7.0.0
PyAutoGUI==0.9.50
PyGetWindow==0.0.8
pyhtmlreport==1.1
PyMsgBox==1.0.7
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.26
PyTweening==1.0.3
selenium==3.141.0
six==1.14.0
traceback2==1.4.0
unittest2==1.1.0
unittestreport==1.0.8
urllib3==1.25.8